<h3>{{titulo}}</h3>
<hr/>

<form #formJugador="ngForm" class="col-lg-6" id="form-jugador">
  <label>Nombres</label>
  <input type="text" class="form-control" />

  <label>Apellido</label>
  <input type="text" class="form-control" />

  <label>Fecha de Nacimiento</label>
  <input type="text" class="form-control" />

  <label>Edad</label>
  <input type="text" class="form-control" />

  <label>Nacionalidad</label>
  <input type="text" class="form-control" />

  <br/>
  <input type="submit" value="{{titulo}}" class="btn btn-success" />
</form>


<!--
  public Nombre: string,
    public Apellido: string,
    public FechaNacimiento: string,
    public Edad: number,
    //public Peso: number,
    //public Altura: number,
    public Nacionalidad: string,
-->
